/* --------------------------------------- PAGE D'ACCUEIL -------------------------------------------- */

/* ------------------- GENERAL SETTINGS ------------------- */

body {
	background-color: #1f1a16;
}

.btn-cine {
	background-color: #1fba7c;
	color: #1f1a16;
	padding: 10px 20px;
	border-radius: 30px;
}

.btn-cine:hover {
	background-color: #ffa665;
	color: #1f1a16;
	padding: 10px 20px;
	border-radius: 30px;
}

.btn-cine-reverse {
	background-color: #fff;
	color: #1f1a16;
	padding: 10px 13px;
	border-radius: 30px;
}

.btn-cine-reverse:hover {
	background-color: #ffa665;
	color: #1f1a16;
	padding: 10px 13px;
	border-radius: 30px;
}

/*

.row-flex {

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ul-flex {

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin-right: 30px;
}

.a-flex {

	display: flex;
	justify-content: center;
	align-items: center;
}

*/

.hr-cine {
	 border: 3px solid #0a7e50;
	 width: 30px;
	 margin-bottom: 80px;
}

.no-rounded {
	border-radius: 0px;
}
/* ------------------- FONTS ------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	color: #1fba7c;
}

h1, h2 {
	text-align: center;
}

.titre, h2 {
	margin-top: 80px;
	margin-bottom: 0px;
}

p, a {
	font-family: 'Playfair Display', serif;
	color: #1f1a16;
}

/* ------------------- NAVIGATION ------------------- */


.btn-nav {
	color: inherit !important;
	text-decoration: inherit !important;
	color: #1f1a16 !important;
	padding-bottom: 3px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 10px !important;
	margin-right:10px !important;
}




@media (min-width: 767px) {
	.btn-nav::after {
		content: "";
		display: block;
		background-color: #ffa665;
		height: 3px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 330ms ease-in-out;
	}

	.btn-nav:hover::after {
		transform: scaleX(1);
	}
}


@media (max-width: 767px) {
	.btn-nav:hover {
		color: #1fba7c !important;
		text-decoration: inherit;
	}
}

.btn:active {
	box-shadow: inherit;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
} 

.navbar-header {
	height: 80px;
}

.navbar-header button {
	margin-top: 22px;
}

.navbar-right {
	margin-top: 3px;
}

/* ------------------- HERO ------------------- */

.hero {
	background-color: #fff;
	background-image: url("../images/hero.jpg");
	background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: bottom;
    padding: 0px;
}

.text-hero {
	background-color: rgba(255, 255, 255, 0.9);
	margin : 200px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

/* ------------------- FILMS & AGENDA ------------------- */

.big-btn-1 {
	background-image: url("../images/article1.jpg");
	background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: center;
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	color: #1fba7c;
	font-size: 1.4em;
}

.big-btn-1:hover, .big-btn-2:hover {
	background-image: none;
	text-decoration: none;
	background-color: #0a7e50;
	color: red;
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	color: #1fba7c;
	font-weight: 800;
}



/*

.big-btn-1 h3:hover, .big-btn-2 h3:hover {
	background-color: inherit;
	text
	padding: 15px 20px;
	border-radius: 30px;
}

test */

.big-btn-2 {
	background-image: url("../images/article3.jpg");
	background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: -350px -400px;
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	color: #1fba7c;
	font-size: 1.4em;
}

/* ------------------- PARTENAIRES ------------------- */

.logo {
	width: 100px;
	border-radius: 100px;
}

.flex-partners {
	background-color:;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px 0px;
	margin-bottom: 100px;

}

/* ------------------- FOOTER ------------------- 

.footer {
	background-color: #fff;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 30px;

}

.p-footer {
	color: #1fba7c;
}
*/

.btn-footer, .btn-aside {
	color: #1f1a16;
	text-decoration: none;
}

.btn-footer:hover, .btn-aside:hover {
	color: #ffa665;
	text-decoration: none;
}




/* --------------------------------------- PAGE ACTUALITÉS -------------------------------------------- */

/* @media (min-width: 992px) {
	#container {
	display: flex;
	align-items: space-between;
	}

} */

@media (max-width: 992px) {
	.aside {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.aside-div {
	margin-bottom: 30px;
	}

}

/* ------------------- ARTICLE ------------------- */

.article {
	margin-bottom: 0px;
}

/* ------------------- ASIDE ------------------- */

/* @media (min-width: 992px) {
	.article {
		border-right: solid 4px #ffa665;
	}
} */

.puce-none {
	list-style: none;
}

.aside {
	background-color: #0a7e50;
	padding: 35px 15px 0px 15px;
}

.aside-div {
	padding: 5px 15px 15px 15px;
	border-radius: 0px;
	border: 1px solid #1f1a16; 
	background-color: #fff;
	margin-bottom: 35px;
	width: 100%;
}

.aside-div h3 {
	margin-bottom: 50px;
	color: #1fba7c;
}

.aside-div ul {
	padding: 0px;
	margin-top: 50px;
}

.aside-div ul li {
	margin-top: 30px;
}

.aside-div ul li a {
	color: #1fba7c;
}

.aside-div ul li a:hover {
	color: #ffa665;
}

.insta {
	margin-bottom: 20px;
}

.insta img, .fb img {
	border: solid 1px #1f1a16;
}

.fb {
	display: flex;
	justify-content: flex-start;
	margin: 0px 15px;
}

.fb img {
	width: 100%;
}

.news {
	padding: 0px;
}

.news input {
	margin-bottom: 10px;
}


/* --------------------------------------- PAGE FILMS -------------------------------------------- */


.flip h3 {
  text-align: center;
  color: #1fba7c;
}

.flip {
  height: 353px;
  width: 260px;
  padding: 0px;
  margin: 10px 0px;
}

.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 2.0s;
  transition-property: transform, opacity;
  color: white;
  background-size: cover !important;
  background-position: center !important;
  background: #1f1a16;
  height: 100%;
  width : 100%;
  border: solid 1px #1f1a16;

}

.flip > .front {
  transform: rotateY(0deg);
}

.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  transform: rotateY(-180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.flip:hover > .front {
  transform: rotateY(180deg);
}

.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.flip > .front p,
.flip > .back p {
  margin: 10px 20px;
  text-align: center;
  color: #fff;
  font-weight: 100;
}

.row-flip {

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* --------------------------------------- PAGE AGENDA -------------------------------------------- */

.intro {
	text-align: center;
	margin-bottom: 30px;
	margin-top: -20px;
	color: #fff;
}

.row-box {
	margin-bottom: 60px;
}

.box {
	padding: 10px 5px;
}

.box-btn {
	padding-top: 30px;
}

.box div {
	padding: 20px 10px;
	border: 1px solid #1f1a16;
	background-color: #fff;
}

.box h2 {
	font-size: 20px;
	margin-top: inherit;
	margin-bottom: 15px;
}

label {
	font-style: inherit;
	font-weight: inherit;
}

input {
	border: inherit;
	border-radius: inherit;
}


/* --------------------------------------- PAGE CONTACT -------------------------------------------- */

.box-contact {
	padding: 10px 5px;
}

.box-contact div {
	padding: 20px 10px;
	background-color: #1f1a16;
	margin: auto;
}

.box-contact div p {
	color: #fff;
}

.coordonnees {
	width: 438px;
}

.coordonnees p a {
	color: #fff;
}

.coordonnees p a:hover {
	color: #ffa665;
	text-decoration: none;
}

.box-contact h2 {
	font-size: 20px;
	margin-top: inherit;
	margin-bottom: 35px;
}

.box-contact h3 {
	font-size: 15px;
}

.box-contact h3, .box-contact p {
	text-align: center;
}

button {
	border: inherit;
	border-radius: inherit;
}

button, input, input::placeholder, textarea, textarea::placeholder, select {
	font-family: 'Playfair Display', serif !important;
	font-size: 12px !important;
	color: #1f1a16 !important;
}





/*------------------------------ FOOTER ----------------------------------*/

.footer-container {
	background-color: #0a7e50;
	border-top: solid 1px #1f1a16;
}

.footer-div {
	height: 200px;
	margin-top: 30px;
}

.newsletter-footer {
	padding: 5px 15px 15px 15px;
	border-radius: 0px;
	border: 1px solid #1f1a16; 
	background-color: #1f1a16;
	width: 100%;
}

.footer-contenu {
	height: 100%;
}

.footer-contenu h3 {
	margin-top: 50px;
}

.footer-contenu p, .footer-contenu a {
	color: #fff;
	font-size: 11px;
}

.contenu-flex {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.newsletter-footer input::placeholder {
	text-align: center;
}

.space {
	margin-top: 20px;
}

@media (max-width: 992px) {	
	.border-right {
		border-right: solid 1px #1f1a16;
	}
}